@import './base.css';

/* Vue 기본 설정 초기화 */
#app {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  font-weight: normal;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}